.search-container{
    width: 80%;
    display: block;
  }
  
  input#search-bar{
    margin-left: 31px;
    box-shadow:-1px 5px 10px 0px #80808045;
    padding-left: 78px;
    border-radius:50px;
    width: 90%;
    height: 57px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
      border: 1px solid #000000;
      transition: 0.35s ease;
      color: #000000;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     }
   }
  
  .search-icon{
    padding-left: 22px;
    position: relative;
    float: left;
    width: 81px;
    height: 70px;
    top: -66px;
    right: -1px;
  }
.svgfilter{
    display: block;
    fill: none; 
    width: 18px; 
    stroke: currentcolor; 
    stroke-width: 3; 
    overflow: visible;
    padding-top:9px;
    padding-left: 9px;
    
}
.borda{
    border-radius:100%;
    border: 1px solid; 
    border-color: grey;
    margin-top: 11px;
    margin-right: 22px;
    padding-bottom: 9px;
    padding-left: 9px;
    padding-right: 9px;
}
.barrapesquisar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: -46px;
    margin-top: 12px;
}
.icones{
    width:22px;
    display: flex;
    flex-direction: column;
    color: grey;
    filter: opacity(0.6);
}
.iconeschale{
    width:26px;
    display: flex;
    flex-direction: column;
    color: grey;
}
.display-flex{
    display:flex;
    justify-content: space-around;
    margin-bottom: 11px;
    margin-right: 38px;
    margin-left: 38px;
}
.back{
    background-color: white;
}
.width{

    height: 337px;
    width: 376.14px;
    border-radius: 5%;
} 
.alinhar-icones{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listaimagens{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.margin-0{
    margin:0;
}
.texto{
    margin: 0;
    padding-right: 227px;

}
.spancolor{
    filter: opacity(0.6);
    font-size: 12px;
    padding-top: 8px;
}
.font-pesquisa{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.display-flex{
    display: flex;
}

.w-90{
    width:90%;
}
.w-10{
    width:10%;
}
.linha-1{
    width: 100%;
    display: flex;
    height: 70px;
    flex-wrap: nowrap;
}
.w-100{
    width:100%;
}
.justify-space{
    justify-content: space-around;
}
