.search-container{
    width: 327px;
    display: block;
    margin-left: 20px;
  }
  
  input#search-bar{
    margin-left: 31px;
    box-shadow:-1px 5px 10px 0px #80808045;
    padding-left: 78px;
    border-radius:50px;
    width: 90%;
    height: 57px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
      border: 1px solid #000000;
      transition: 0.35s ease;
      color: #000000;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     }
   }
  
  .search-icon{
    padding-left: 22px;
    position: relative;
    float: left;
    width: 81px;
    height: 70px;
    top: -66px;
    right: -1px;
  }
.svgfilter{
    display: block;
    fill: none; 
    width: 18px; 
    stroke: currentcolor; 
    stroke-width: 3; 
    overflow: visible;
    padding-top:9px;
    padding-left: 9px;
    
}
.borda{
    width:35px;
    height:35px;
    border-radius:50%;
    border: 1px solid; 
    border-color: grey;
    margin-top: 12px;
    margin-right: 48px;
}
.barrapesquisar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: -46px;
    margin-top: 12px;
}

.icones{
    width:26px;
    display: flex;
    flex-direction: column;
    color: grey;
    filter: opacity(0.6);
}
.iconeschale{
    width:26px;
    display: flex;
    flex-direction: column;
    color: grey;
    
}
.display-flex{
    display:flex;
    justify-content: space-around;
    margin-bottom: 11px;
    margin-right: 38px;
    margin-left: 38px;
}
.back{
    background-color: white;
}
.width{

    height: 337px;
    width: 376.14px;
    border-radius: 5%;
} 
.alinhar-icones{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exibir{
        border-radius: 12px;
        border-color: rgba(128, 128, 128, 0.621);
        border-width: 1px;
        border-style: solid;
        padding-left: 16px;
        padding-right: 16px;
        width: 341px;
        height: 67px;
        margin-top: 20px;
        margin-left: 75px;
        margin-bottom: 27px;
}
.exibir2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 27px;
}
.botaorolar{
    border-radius: 71px;
    border-style: solid;
    border-width: 1px;
    width: 27px;
    height: 27px;
    background: white;
    border: white;
    margin-left: -5px;
}
.backbotao{
    height: 30px;
    width: 54px;
    background: #b9b1b1de;
    border-radius: 24px;
    border: none;

}
.listaimagens{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.margin-0{
    margin:0;
}
.texto{
    margin: 0;
    padding-right: 227px;

}
.spancolor{
    filter: opacity(0.6);
}
.font-pesquisa{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

  


